.header {
  background-color: lightblue;
  border: solid 2px black;
  grid-area: header;
  height: 30px;
}
.navigation {
  background-color: yellow;
  border: solid 2px black;
  grid-area: navigation;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.main {
  background-color: green;
  border: solid 2px black;
  grid-area: main;

}
.footer {
  background-color: orange;
  border: solid 2px black;
  grid-area: footer;
  height: 50px;
}
#app {
  display: grid;
  grid-template-areas: 
  "navigation navigation navigation navigation"
  "main main main main"
  "footer footer footer footer";
}
